@import "/stylesheet.scss";

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $font-color;
  font-family: "Brandon Grotesque";
  font-weight: 300;
}
h1 {
  font-weight: 600;
}
h2 {
  font-weight: 500;
}

.launch-container {
  display: flex;
  padding: 2em;
}

.rocket-image {
  max-height: 100%;
  padding: 2em;
}

.launch-item__wrapper {
  box-shadow: 3px 3px 5px 4px #ccc;
  display: flex;
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 15px;
}

.launch-item__wrapper > h1 {
  flex-grow: 1;
}
.launch-item__wrapper > h2 {
  font-size: 2em;

  flex-grow: 1;
}

.launch-item__date {
  display: flex;
  flex-direction: column;

  & > h3 {
    margin-top: 0em;
  }
}

.launch-container__images_container {
  display: flex;
  flex-direction: column;
}

.logo {
  max-height: 30px;
  margin-top: 2em;
}

.logo-wrapper {
  display: flex;
  > p {
    font-size: 2em;
  }
}

.launch-container__launches {
  margin-top: 2em;
}

.button {
  background-color: $primary-blue;
  border: none;
  padding: 5px;
  font-family: "Brandon Grotesque";
  max-width: fit-content;
  min-width: 145px;
  margin-right: 1em;
  cursor: pointer;
  & > p {
    margin: 0.5em;
    color: white !important;
  }
  & > p::after {
    content: url("/assets/icon/sort.png");
  }
}

.reload-button {
  @extend .button;
  border-radius: 20px 0px 0px 20px;
  position: fixed;
  right: -15px;
  top: 10px;
  & > p {
    margin: 0.5em;
    color: white !important;
  }
  & > p::after {
    content: url("/assets/icon/refresh.png");
  }
}

.drop-down {
  background-color: $primary-blue;
  color: white;
  border: none;
  padding: 10px;
  font-family: "Brandon Grotesque";
  min-width: 135px;
  margin-right: 1em;
  min-height: 50px;
  cursor: pointer;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 2em;
}
