/* .App {
  text-align: center;
} */

.launch-container {
  display: flex;
}

.logo {
  max-height: 50px;
  padding: 2em;
}

.rocket-image {
  max-height: 400px;
  padding: 2em;
}

.launch-item__wrapper {
  box-shadow: 3px 3px 5px 4px #ccc;
  display: flex;
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 15px;
}

.launch-item__wrapper > p {
  flex-grow: 1;
}

.launch-item__wrapper > h1 {
  flex-grow: 2;
}

.launch-container__images_container {
  display: flex;
  flex-direction: column;
}

.launch-container__launches {
  margin-top: 2em;
}
